<section id="Screenshots" class="">
  <div class="container carousel-width">
  <div id="myCarousel" class="carousel item" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="assets/img/TT/1.jpg" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
          <h3>1</h3>
          <p>LA is always so much fun!</p>
        </div>
      </div>

      <div class="item">
        <img src="assets/img/TT/2.jpg" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3>2</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>
    
      <div class="item">
        <img src="assets/img/TT/3.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>3</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>

      <div class="item">
        <img src="assets/img/TT/4.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>4</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>

      <div class="item">
        <img src="assets/img/TT/5.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>5</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>

      <div class="item">
        <img src="assets/img/TT/6.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>6</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>

      <div class="item">
        <img src="assets/img/TT/7.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>7</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</section>