.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .carousel .item {
    height: 500px;
    width:600px;
    position: relative;
  }
  .carousel-width{
    width:600px;
  }
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }