<section id="contact">
	<!-- =============== container =============== -->


	<div class="col-xs-12 col-sm-12 col-md-12 wow bounceIn animated headding contact-start" data-wow-delay=".1s">
		<h2>Contact <span>Us</span></h2>
	</div>

	<div class="row">


		<div class="col-sm-6 wow bounceIn animated map" data-wow-delay=".5s">

			<iframe
				src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d62191.583730491824!2d77.606213!3d13.037328!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1b2fc54c113afb93!2sSamaksh%20Brand&#39;s%20Hub!5e0!3m2!1sen!2sin!4v1641846527254!5m2!1sen!2sin"
				width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


		</div>

		<div class="col-sm-4 wow bounceIn animated" data-wow-delay=".6s">

			<section id="text-15" class="widget widget_text">
				<h2 class="widget-title">Shashank K</h2>
				<div class="textwidget">#111, Poovanna block, Manorayana palya,<br>
					<p>R.T.Nagar Bengaluru-32<br><br>
						Whatsapp: +91 81236 69686<br>
						Mobile: +91 99451 29686<br>
						E-mail: <a href="#">info@srichowdeshwaritravels.com</a></p>
					<a href="https://goo.gl/maps/jdZKvkb8Red16a6c9">Get directions on the map</a> →
				</div>
			</section>

			

		</div>
		
			<!-- <div class="col-sm-2">
				<section id="footer">
				<ul class="social-links">
					<li><a class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-name: fadeInUp;"><i class="fa fa-facebook"></i></a></li>
					<li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><i class="fa fa-twitter"></i></a></li>
					<li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"><i class="fa fa-google-plus"></i></a></li>
					<li><a data-wow-delay=".4s" class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"><i class="fa fa-pinterest"></i></a></li>
					<li><a data-wow-delay=".5s" class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><i class="fa fa-envelope"></i></a></li>
				</ul>

				</section>
</div><!-- =============== container end =============== -->
		 -->
	</div>
</section>