
<nav class="navbar navbar-nav2  navbar-fixed-top ">
    <a class="navbar-brand" href="#">
        <div class="home-content"> <img src="assets/img/SCT_Logo-1.jpg" class="img-responsive" 
         alt="Logo">
        </div>
     </a>
     
     <div class="navbar-left-px" >
        <ul class="nav navbar-nav navbar-left-100px">
            <li>
                <a class=" navbar-title" href="#"><h1>Sri Chowdeshwari Travels <i class="fa fa-taxi" aria-hidden="true"></i></h1></a>
            </li>
        </ul>
        
    </div>
    <div class="navbar-left-150px" >
        <ul class="call-us " >
            <li>
                <a class=" " href="#">
                    <div >Call <span style="color: rgb(245, 61, 61); font-size: 125%;">Us</span></div>
                    
                    <i class="fa fa-mobile" aria-hidden="true">+91 99451 29686</i>
               
                </a>
            </li>
        </ul>
    </div>
       
 
</nav>
