.navbar-nav2 a{
color: tomato;
}

.navbar-nav2 a:hover{
    text-decoration: none;
    background-color: white;
    }

    .navbar-left-150px{
        margin-left: 1000px;
    }

.call-us a{
        color: rgb(48, 42, 39);
        
        margin-left: 20px;
        font-weight: bolder;
        font-size: 15px;
        text-decoration: none;
    }
  

    .home-content img {
    
        /* padding-top: 1%; */
        top: 0;
        width:180px;
        height:77px;
    }

    .navbar-left-100px
    {
        margin-left: 200px;
    }