<section id="call-back" class="">
    <div class="border">
        <div class="col-xs-12 col-sm-12 col-md-12 wow bounceIn animated headding call-back-start" data-wow-delay=".1s">
            <h2>Get a Call<span>Back</span></h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div class="ajax-hidden">
                        <div class="form-group wow fadeInUp animated">
                            <label for="c_name" class="sr-only">Name</label>
                            <input type="text" placeholder="Name" name="c_name" class="form-control" id="c_name">
                        </div>

                        <div data-wow-delay=".1s" class="form-group wow fadeInUp animated">
                            <label for="c_email" class="sr-only">Email</label>
                            <input type="email" placeholder="E-mail" name="c_email" class="form-control" id="c_email">
                        </div>

                        <div data-wow-delay=".2s" class="form-group wow fadeInUp animated">
                            <textarea placeholder="Message" rows="7" name="c_message" id="c_message"
                                class="form-control"></textarea>
                        </div>

                        <button data-wow-delay=".3s" class="btn btn-sm btn-block wow fadeInUp animated"
                            type="submit">Send Message</button>
                    </div>
                    <div class="ajax-response"></div>
                </form>
            </div>
        </div>
    </div>
</section>