
<nav id="mainNav" class="navbar navbar-main-nav navbar-default navbar-fixed-top">
   
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="#">
                    
                   <div class="home-content"> <img src="assets/img/SCT_Logo.jpg" 
                    alt="Logo">
                    
                   </div>
                </a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            
            <div class="collapse navbar-collapse navbar-left-px" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left-px">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#our-services">Our Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#Screenshots">Screenshots</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#call-back">Get a Call Back</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>

                    
                </ul>
            </div>
      
            <!-- =============== navbar-collapse =============== -->

        </div>
    
    <!-- =============== container-fluid =============== -->
</nav>
