<div class="page">
  <app-logo-header></app-logo-header>
  <app-main-nav></app-main-nav>
  <app-home></app-home>
  <app-header></app-header>
  <app-about></app-about>
  <app-our-services></app-our-services>
 <app-slide-show></app-slide-show>
 <app-call-back></app-call-back>
  <app-contact></app-contact>
 
  <app-footer></app-footer>
  </div>