<header>
    
    <div class="header-background-img">

    <!-- =============== container =============== -->
    <div class="container">
        <div class="header-content row">
            <div class="col-xs-12 col-sm-5 col-md-5">
                <div class ="header-opacity">
                <h3 class="wow bounceIn animated" data-wow-delay=".40s">Explore the World with <span style="color: rgb(253, 252, 252); font-size: 120%; font-weight: bolder;">S C T</span></h3>
                <h3 class="wow bounceIn animated" data-wow-delay=".50s">Millions of Miles with Smiles</h3>
                <p class="wow bounceIn animated" data-wow-delay=".60s"></p>
                <p>
                    <div class="btn btn-primary btn-lg btn-ornge wow bounceIn animated" data-wow-delay="1s">
                        <i class="hbtn"></i> <span>Book Now</span> <i class="fa fa-globe"></i>
                    </div>
                </div>
            </div>
            <!-- <div class="col-xs-12 col-sm-7 col-md-7 wow slideInLeft animated">
                <img src="assets/img/TT1.png" alt="phones" />
            </div> -->
        </div>
    </div>

    <!-- =============== container end =============== -->
    </div>
</header>
