.opacity-1 {
    opacity: 1;
}

.header-background-img {
    background: url("/assets/img/TT/1.jpg");
    background-repeat: no-repeat;
    position: relative;
    /* margin-block-start: 100px; */
    /* background-position: 0% 0%; */
    background-size: 100% 150%;
    opacity: 0.8;
    color: #fff;
    transition: all 0.35s ease 0s;
    -webkit-transition: all 0.35s ease 0s;
    -moz-transition: all 0.35s ease 0s;
    overflow: hidden;
}