.top-80px{
    margin-top:10%;
}

.margin-left-50{
    margin-left: 4%;
}
img{
    width:160%;
    height:150%;
    margin-top: 10%;
}

.card {
    width:100%;
    height:380%;
    margin-top: 20%;
    padding: 2%;
    background-color: blanchedalmond;
    
}
.quote{
    margin-left: 50%;
    bottom: auto;
}
.padding-10{
    padding: 5%;
    height: 100%;
}