<div id="our-services" class="container">
    <div class="row">
        <div class="col-xs-12 padding-10">

            <div id="imageCarousel" class="carousel slide" data-interval="4000" data-ride="carousel" data-pause="hover"
                data-wrap="true">

                <ol class="carousel-indicators">
                    <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#imageCarousel" data-slide-to="1"></li>
                    <li data-target="#imageCarousel" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active margin-left-50">
                        <div class="row">
                            <div class="col-xs-4">
                                <!-- <p>Image at the top (card-img-top):</p> -->
                               
                                <div class="card" >
                                    <img class="card-img-top img-responsive" src="assets/img/our-services/school-transport.jpg" alt="Card image">
                                    <div class="card-body">
                                        <h2 class="card-title">School Transportation</h2>
                                        <p class="card-text">Door step pick up and drop.</p>
                                        <a href="#" class="btn btn-primary quote" style="margin-left:50px">Get Quote</a>
                                    </div>
                                </div>
                                <br>

                            </div>
                            <div class="col-xs-4">
                                <div class="card" >
                                    <img class="card-img-top img-responsive" src="assets/img/our-services/cab-services.jpg" alt="Card image">
                                    <div class="card-body">
                                        <h2 class="card-title">Cab Services</h2>
                                        <p class="card-text">Experience both comfort and luxury.</p>
                                        <a href="#" class="btn btn-primary quote" style="margin-left:50px">Get Quote</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="card" >
                                    <img class="card-img-top img-responsive" src="assets/img/our-services/TT-services-2.jpg" alt="Card image">
                                    <div class="card-body">
                                        <h2 class="card-title">TT Services</h2>
                                        <ul>
                                            <li>Why choose a 7 seater car? Think Big!!!</li>
                                            <li>We are expert in providing TT services at affordable price in the market </li>
                                        </ul>
                                        <a href="#" class="btn btn-primary quote" style="margin-left:50px">Get Quote</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item margin-left-50">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="card" >
                                    <img class="card-img-top img-responsive" src="assets/img/our-services/outstation-services.jpg" alt="Card image">
                                    <div class="card-body">
                                        <h2 class="card-title">OutStation</h2>
                                        <ul>
                                            <li>Planning for a trip this vacation? We are there to assist you!</li>
                                            <li>Travel with safe hands</li>
                                        </ul>
                                        <a href="#" class="btn btn-primary quote" style="margin-left:50px">Get Quote</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="card" >
                                    <img class="card-img-top img-responsive" src="assets/img/our-services/customer-support.jpg" alt="Card image">
                                    <div class="card-body">
                                        <h2 class="card-title">24/7</h2>
                                        <ul>
                                            <li>Any query in the service?</li>
                                            <li>We are available 24/7 to assist you</li>
                                        </ul>
                                        <a href="#" class="btn btn-primary quote" style="margin-left:50px">Get Quote</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="card" >
                                    <img class="card-img-top img-responsive" src="assets/img/our-services/airport-services.jpg" alt="Card image">
                                    <div class="card-body">
                                        <h2 class="card-title">Airport Pick Up/Drop</h2>
                                        <p class="card-text">Airport pick up/drop at affordable prices</p>
                                        <a href="#" class="btn btn-primary quote quote" >Get Quote</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item margin-left-50">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="card" >
                                    <img class="card-img-top img-responsive" src="assets/img/our-services/water-tanker-services-2.jpg" alt="Card image">
                                    <div class="card-body">
                                        <h2 class="card-title">Water Supply</h2>
                                        <ul>
                                            <li>Scarcity of water at your place?</li>
                                            <li>We are just a call away </li>
                                        </ul>
                                        <a href="#" class="btn btn-primary quote" style="margin-left:50px">Get Quote</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="card" >
                                    <img class="card-img-top img-responsive" src="assets/img/our-services/vehicle-sanitising-services.jpg" alt="Card image">
                                    <div class="card-body">
                                        <h2 class="card-title">We sanitize our vehicle regularly</h2>
                                        <ul>
                                            <li>All the vehicles are sanitized before use</li>
                                        </ul>
                                        <a href="#" class="btn btn-primary quote" style="margin-left:50px">Get Quote</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="card" >
                                    <img class="card-img-top img-responsive" src="assets/img/our-services/corporate-services-1.jpg" alt="Card image">
                                    <div class="card-body">
                                        <h2 class="card-title">Corporate Pick Up/Drop</h2>
                                        <ul>
                                            <li>Now organizing shuttle service is made easy.</li>
                                            <li>SCT Travels for your need.</li>
                                        </ul>
                                        <a href="#" class="btn btn-primary quote" style="margin-left:50px">Get Quote</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#imageCarousel" class="carousel-control left" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#imageCarousel" class="carousel-control right" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

        </div>
    </div>
</div>